.empty__cart {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.table tr td img {
  height: 80px !important;
  width: 80px !important;
  object-fit: cover;
}

td i {
  cursor: pointer;
}

td,
th {
  color: var(--primary-color);
}
